<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	{{ .Site.Data.versioning.version_menu }}
</a>
<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
	{{ $path := "" }}
	{{ if .Site.Data.versioning.version_menu_pagelinks }}
		{{ $path = .Page.RelPermalink }}
	{{ end }}
	{{ range .Site.Data.versioning.versions }}
	  <a class="dropdown-item" href="{{ .version_url }}{{ $path }}">{{ .version }}</a>
	{{ end }}
</div>