<link href="/_pagefind/pagefind-ui.css" rel="stylesheet">
<script src="/_pagefind/pagefind-ui.js" type="text/javascript"></script>
<div class="d-flex align-items-start">
  <div id="search"></div>
  <button 
    class="btn btn-link td-sidebar__toggle d-md-none fas fa-bars" 
    type="button" 
    data-toggle="collapse" 
    data-target="#td-section-nav" 
    aria-controls="td-section-nav" 
    aria-expanded="false" 
    aria-label="Toggle section navigation">
  </button>
</div>
<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        new PagefindUI({ 
          element: "#search", 
          showImages: false
        });
    });
</script>
